<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="cvmc">1</a>]
</td>
<td class="bibtexitem">
Rémi Leluc, François Portier and Johan Segers.
 Control Variate Selection for Monte Carlo Integration
 <strong> Statistics and Computing 31 </strong> (2021).
[&nbsp;<a href="https://scholar.googleusercontent.com/scholar.bib?q=info:nG1UT4qkjLwJ:scholar.google.com/&output=citation&scisdr=CgUIvNRGEIne09Xix14:AAGBfm0AAAAAY0_k317tUdsh1J0wvL2reDTLjbkQtftG&scisig=AAGBfm0AAAAAY0_k36F7jr9FsqtDj_sEvA7CG2eLApR9&scisf=4&ct=citation&cd=1&hl=fr">bib</a>&nbsp;| 
 <a href="https://rdcu.be/cnesX">PDF</a>&nbsp;|
  <a href="https://github.com/RemiLELUC/ControlVariateSelection">code</a>&nbsp;]
</td>
</tr>  
  
<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="mexico">1</a>]
</td>
<td class="bibtexitem">
Hamid Jalalzai and Rémi Leluc.
 Feature Clustering for Support Identification in Extreme Regions
 <strong> International Conference on Machine Learning (ICML) </strong> (2021).
[&nbsp;<a href="https://scholar.googleusercontent.com/scholar.bib?q=info:qs3CbffFyfMJ:scholar.google.com/&output=citation&scisdr=CgUIvNRGEIne09Xix14:AAGBfm0AAAAAY0_k317tUdsh1J0wvL2reDTLjbkQtftG&scisig=AAGBfm0AAAAAY0_k31gVyyb-jfoL1_0QDLw8Y66cHaiY&scisf=4&ct=citation&cd=0&hl=fr">bib</a>&nbsp;| 
 <a href="http://proceedings.mlr.press/v139/jalalzai21a.html">PDF</a>&nbsp;]
</td>
</tr>  
  
<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="scgd">1</a>]
</td>
<td class="bibtexitem">
Rémi Leluc and François Portier.
SGD with Coordinate Sampling: Theory and Practice
 <strong> Journal of Machine Learning Research 23 </strong> (2022).
[&nbsp;<a href="https://scholar.googleusercontent.com/scholar.bib?q=info:8TTeW-LhInoJ:scholar.google.com/&output=citation&scisdr=CgUIvNRGEIne09XhZt4:AAGBfm0AAAAAY0_nft4xSUeLNbvFvUnoJf3j4UMWh2R4&scisig=AAGBfm0AAAAAY0_nfiJLiwFwXnqmgC934G_eglMGjKlB&scisf=4&ct=citation&cd=4&hl=fr">bib</a>&nbsp;| 
 <a href="https://arxiv.org/pdf/2105.11818.pdf">arXiv</a>&nbsp;|
  <a href="https://github.com/RemiLELUC/SCGD-Musketeer">code</a>&nbsp;]
</td>
</tr>
  
<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="aiscv">1</a>]
</td>
<td class="bibtexitem">
Rémi Leluc, François Portier, Johan Segers and Aigerim Zhuman.
 A Quadrature Rule combining Control Variates and Adaptive Importance Sampling
 <strong> Advances in Neural Information Processing Systems (NeurIPS) </strong> (2022).
[&nbsp;<a href="https://scholar.googleusercontent.com/scholar.bib?q=info:bgaQO_xBUiEJ:scholar.google.com/&output=citation&scisdr=CgUIvNRGEIne09XhZt4:AAGBfm0AAAAAY0_nft4xSUeLNbvFvUnoJf3j4UMWh2R4&scisig=AAGBfm0AAAAAY0_nfi7M3oZREEW4-bxk57frfJ1ely_Z&scisf=4&ct=citation&cd=3&hl=fr">bib</a>&nbsp;| 
<a href="https://arxiv.org/abs/2205.11890">arXiv</a>&nbsp;]
</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="debiaising_cox">2</a>]
</td>
<td class="bibtexitem">
Rémi Leluc and François Portier
Asymptotic Analysis of Conditioned Stochastic Gradient Descent
 <strong>arXiv 2006.02745</strong> (2022).
[&nbsp;<a href="https://scholar.googleusercontent.com/scholar.bib?q=info:rtPqtITJOAkJ:scholar.google.com/&output=citation&scisdr=CgUIvNRGEIne09XhZt4:AAGBfm0AAAAAY0_nft4xSUeLNbvFvUnoJf3j4UMWh2R4&scisig=AAGBfm0AAAAAY0_nfqltCtfrPyixFjb8C5Up1kO3i8tY&scisf=4&ct=citation&cd=5&hl=fr">bib</a>&nbsp;|  
<a href="https://arxiv.org/abs/2006.02745">arXiv</a>&nbsp;]
</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="doobs">3</a>]
</td>
<td class="bibtexitem">
Rémi Leluc, Elie Kadoche, Antoine Bertoncello and Sébastien Gourvénec 
 <strong> NeurIPS Workshop on Reinforcement Learning for Real Life </strong> (2022).
</td>
</tr>
 
<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="doobs">3</a>]
</td>
<td class="bibtexitem">
Hamid Jalalzai, Elie Kadoche, Rémi Leluc and Vincent Plassier 
 Membership Inference Attacks via Adversarial Examples
 <strong> arXiv 2207.13572</strong> (2022).
[&nbsp;<a href="https://scholar.googleusercontent.com/scholar.bib?q=info:lnOfHQoCmx0J:scholar.google.com/&output=citation&scisdr=CgUIvNRGEIne09XhZt4:AAGBfm0AAAAAY0_nft4xSUeLNbvFvUnoJf3j4UMWh2R4&scisig=AAGBfm0AAAAAY0_nfgrXwOT76lhFy3Cy1TEZ6YsyjK8O&scisf=4&ct=citation&cd=2&hl=fr">bib</a>&nbsp;| 
<a href="http://arxiv.org/abs/2207.13572">arXiv</a>&nbsp;]
</td>
</tr>
  
  
</table>
